In [1]:
import sys
from pathlib import Path

# Get project root (2 levels up from current notebook)
project_root = Path.cwd().parent.parent
sys.path.insert(0, str(project_root))

In [2]:
import sqlite3
import pandas as pd

In [4]:
from src.storage.db import get_connection

conn = get_connection()

2026-01-20 21:01:42 - INFO - Initializing DB connection at C:\Users\Chidi\Documents\GitHub\Worship-Engagement-Prediction-System-for-Nigeria-Spotify-Driven-ML-App-\data\spotify_data.db
2026-01-20 21:01:42 - INFO - DB Connection Successful

In [5]:
pd.read_sql("""
SELECT name
FROM sqlite_master
WHERE type='table';
""", conn)

                    name
0                artists
1                 tracks
2  artist_weekly_metrics
3        sqlite_sequence

In [15]:
df_artist = pd.read_sql("SELECT * FROM artists", conn)
df_artist.head()

,artist_id,name,genres,source
0,27aJyju2K5sLLiCgZKemnt,Ada Ehi,"[""afrogospel"", ""gospel"", ""worship""]",spotify
1,6J1xJIMHarm1DrTscCsVhw,Ayo Vincent,"[""afrogospel"", ""gospel""]",spotify
2,6zgGhksQtJmJzAOalAeUSV,Bidemi Olaoba,"[""afrogospel"", ""gospel"", ""worship""]",spotify
3,3FbRPnDbbrqgwIVwlbZ3lQ,Evang Dr Bola Are,"[""gospel""]",spotify
4,1FVTCLEgnDnnE4kdK7l43z,Chigozie Wisdom,[],spotify

In [14]:
df_tracks = pd.read_sql("SELECT * FROM tracks", conn)
df_tracks.head()

,track_id,artist_id,name,duration_ms,explicit,release_date
0,1aNryETX3dSY4A0M8BIqPE,27aJyju2K5sLLiCgZKemnt,Congratulations,294053,0,2020-12-18
1,25WsThhuvxiv7i2G0qMv0h,27aJyju2K5sLLiCgZKemnt,I Testify,362553,0,2017-10-16
2,6qCeZRGSoHBv2d4tZsopfp,27aJyju2K5sLLiCgZKemnt,Yes Sir,288280,0,2024-09-18
3,4FlcVpYoYw84TFQyIr7oH8,27aJyju2K5sLLiCgZKemnt,Only You Jesus,345077,0,2017-10-16
4,6snHCqTcMkD16FXyC7gVBH,27aJyju2K5sLLiCgZKemnt,Definitely,228893,0,2024-09-18

In [13]:
df_metrics = pd.read_sql("SELECT * FROM artist_weekly_metrics", conn)
df_metrics.head()

,id,artist_id,week_start,followers,popularity,collected_at
0,1,27aJyju2K5sLLiCgZKemnt,2026-01-12,756185,50,2026-01-12T15:59:55.337058+00:00
1,2,6J1xJIMHarm1DrTscCsVhw,2026-01-12,2603,13,2026-01-12T15:59:55.337058+00:00
2,3,6zgGhksQtJmJzAOalAeUSV,2026-01-12,264798,50,2026-01-12T15:59:55.337058+00:00
3,4,3FbRPnDbbrqgwIVwlbZ3lQ,2026-01-12,24482,27,2026-01-12T15:59:55.337058+00:00
4,5,1FVTCLEgnDnnE4kdK7l43z,2026-01-12,3730,22,2026-01-12T15:59:55.337058+00:00